{% extends 'index.html' %}

{% block product %}
{% comment %} <h1>hello i am product's template</h1> {% endcomment %}


{% for i in data %}



  <div class="col">
    <div class="card">
      <img src="{{ i.image.url }}"  height="200px"  style="object-fit: contain;" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ i.name }}</h5>
        <h5 class="card-title">{{ i.quality }}</h5>
        <h5 class="card-title">{{ i.price }}</h5>
        <p class="card-text">{{ i.description }}</p>
        <a href="{% url 'myapp:showoneproduct' i.id %}" class="btn btn-danger ">BUY</a>
      </div>
      </div>
    </div>
  </div>

</div>







{% endfor %}

{% endblock product %}

{% comment %} {{ i.name }}: {`{ i.price }}: {{ i.quality }}<br> {% endcomment %}